@font-face{
    font-family: Favorit Pro;
    src: url("assets/fonts/FavoritPro-Bold.woff2") format("woff2"),
         url("assets/fonts/FavoritPro-Bold.woff") format(woff);
    font-weight: bold;
    font-style: normal;
    font-display: swap
   }
   @font-face{
     font-family: Favorit Pro;
     src: url("assets/fonts/FavoritPro-BoldItalic.woff2") format("woff2"),
         url("assets/fonts/FavoritPro-BoldItalic.woff") format(woff);
     font-weight: bold;
     font-style: italic;
     font-display: swap  
   }
   @font-face{
       font-family: Favorit Pro;
       src: url("assets/fonts/FavoritPro-Regular.woff2") format("woff2"),
         url("assets/fonts/FavoritPro-Regular.woff") format(woff);
       font-weight: normal;
       font-style: normal;
       font-display: swap
   }
   @font-face{
       font-family: Favorit Pro;
       src: url("assets/fonts/FavoritPro-Italic.woff2") format("woff2"), 
            url("assets/fonts/FavoritPro-Italic.woff") format(woff);
       font-weight: normal;
       font-style: italic;
       font-display: swap
   }
   body{
   background-color:rgba(29, 0, 207, 1);
   color:rgba(255, 156, 9, 1);
   font-family: Favorit Pro;
   font-weight: bold;
   margin: 20px 40px 20px 40px;
 }
 p{
   font-size: 32px;
   max-width: 555px;
   margin-left:700px;
   margin-bottom: 100px;
 }
 p:hover{
   color:white;
   font-style: italic;
 }

 button{
   box-sizing: border-box;
   background:none;
   border: 2px solid rgba(255, 156, 9, 1);
   border-radius: 28px;
   padding: 5px 25px 10px 25px;
   text-align: center;
   display: inline-block;
   font-size: 32px;
   color: rgba(255, 156, 9, 1);
   margin-right: 40px;
 }
 button:hover{
   background:rgba(255, 156, 9, 1);
   color: rgba(29, 0, 207, 1);
 }
 .header{
   width: 100%;
   font-size: 93px;
   text-transform: uppercase;
   text-align: right;
 }
 .header-fixed{
   position: fixed;
   left:0;
   top:0;
 }