@font-face{
 font-family: Favorit Pro;
 src: url("assets/fonts/FavoritPro-Bold.woff2") format("woff2"),
      url("assets/fonts/FavoritPro-Bold.woff") format(woff);
 font-weight: bold;
 font-style: normal;
 font-display: swap
}
@font-face{
  font-family: Favorit Pro;
  src: url("assets/fonts/FavoritPro-BoldItalic.woff2") format("woff2"),
      url("assets/fonts/FavoritPro-BoldItalic.woff") format(woff);
  font-weight: bold;
  font-style: italic;
  font-display: swap  
}
@font-face{
    font-family: Favorit Pro;
    src: url("assets/fonts/FavoritPro-Regular.woff2") format("woff2"),
      url("assets/fonts/FavoritPro-Regular.woff") format(woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap
}
@font-face{
    font-family: Favorit Pro;
    src: url("assets/fonts/FavoritPro-Italic.woff2") format("woff2"), 
         url("assets/fonts/FavoritPro-Italic.woff") format(woff);
    font-weight: normal;
    font-style: italic;
    font-display: swap
}
* {
  box-sizing: border-box;
}
body{
padding:0px 40px;
}
h1{
  display: flex;
  color:black;
  font-family: Favorit Pro;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
h2{
  color:black;
  font-family: Favorit Pro;
  font-weight: bold;
  font-size: 20px;
}
p{
  font-family: Favorit Pro;
  font-size: 18px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(43, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  height: 200vh;
}
.div1 { grid-area: 1 / 11 / 2 / 13; }
.div2 { grid-area: 1 / 8 / 2 / 10; }
.div3 { grid-area: 1 / 1 / 2 / 4; }
.div4 { grid-area: 5 / 4 / 12 / 8; }
.div5 { grid-area: 7 / 1 / 10 / 3; }
.div6 { grid-area: 14 / 2 / 22 / 4; }
.div7 { grid-area: 15 / 6 / 21 / 9; }
.div8 { grid-area: 7 / 9 / 13 / 12; }
.div9 { grid-area: 18 / 11 / 22 / 13; }
.div10 { grid-area: 25 / 2 / 31 / 4; }
.div11 { grid-area: 25 / 4 / 31 / 6; }
.div12 { grid-area: 25 / 6 / 31 / 8; }
.div13 { grid-area: 25 / 8 / 31 / 10; }
.div14 { grid-area: 25 / 10 / 31 / 12; }
.div15 { grid-area: 31 / 2 / 37 / 4; }
.div16 { grid-area: 31 / 4 / 37 / 6; }
.div17 { grid-area: 31 / 6 / 37 / 8; }
.div18 { grid-area: 31 / 8 / 37 / 10; }
.div19 { grid-area: 31 / 10 / 37 / 12; }
.div20 { grid-area: 37 / 2 / 43 / 4; }
.div21 { grid-area: 37 / 4 / 43 / 6; }
.div22 { grid-area: 37 / 6 / 43 / 8; }
.div23 { grid-area: 37 / 8 / 43 / 10; }
.div24 { grid-area: 37 / 10 / 43 / 12; }